<html>

<head>
    <style type="text/css">
        body {
            background: black;
            color: white;
        }

        div.container {
            max-width: 500px;
            margin: 100px auto;
            border: 20px solid white;
            padding: 10px;
            text-align: center;
        }

        h4 {
            text-transform: uppercase;
        }
    </style>
</head>

<body>
    <div class="container">
        <h4>Nailed it!</h4>
        <iframe src="https://giphy.com/embed/j4rPM934CLIvC" width="480" height="269" style="" frameBorder="0"
            class="giphy-embed" allowFullScreen></iframe>
        <p><a href="https://giphy.com/gifs/movie-mrw-ad-j4rPM934CLIvC">via GIPHY</a></p>
    </div>
</body>

</html>